.coin {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  text-transform: uppercase;

  .coinSort {
    width: 330px;
  }

  & > *:nth-child(n+2) {
    padding-left: 20px;
  }

  .priceChangePercentage {
    width: 200px;
  }

  .price {
    width: 200px;
    text-align: right;
  }
}