// The fonts may or may not have been copied from https://btcdirect.eu/bundles/btcdirecttheme/freedom/fonts/ :)

@font-face {
  font-family: 'GT-Walsheim-Medium';
  src: url('./fonts/GTWalsheim/GT-Walsheim-Medium.woff2') format('woff2'),
  url('./fonts/GTWalsheim/GT-Walsheim-Medium.woff') format('woff')
}

@font-face {
  font-family: 'GT-Walsheim-Regular';
  src: url('./fonts/GTWalsheim/GT-Walsheim-Regular.woff2') format('woff2'),
  url('./fonts/GTWalsheim/GT-Walsheim-Regular.woff') format('woff')
}