// General
$grey: #a4b2c1;
$green: #62d377;
$red: #ec6460;

$primaryTextColor: #0a3847;
$secondaryTextColor: $grey;

$fontPrimary: 'GT-Walsheim-Regular', 'Helvetica', 'Arial', 'sans-serif';
$fontSecondary: 'GT-Walsheim-Medium', 'Helvetica', 'Arial', 'sans-serif';
$defaultFontSize: 14px;
