@import "../../../common/scss/variables";
@import "~react-loading-skeleton/dist/skeleton";

.coin {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-top: 1px solid $grey;
  padding: 10px;

  .icon {
    width: 40px;
    height: 40px;
  }

  & > *:nth-child(n+2) {
    padding-left: 20px;
  }

  .shortName {
    width: 50px;
  }

  .longName {
    width: 200px;
    color: $secondaryTextColor;
  }

  .mobileLongName {
    display: none;
    color: $secondaryTextColor;
  }

  .priceChangePercentage {
    font-family: $fontSecondary;
    width: 200px;
  }

  .red {
    color: $red;
  }

  .green {
    color: $green;
  }

  .price {
    flex: 1;
    text-align: right;
  }

  @media only screen and (min-width: 700px) {
    cursor: pointer;
    -webkit-transition: -webkit-transform .2s ease-out;
    -moz-transition: -moz-transform .2s ease-out;
    -o-transition: -o-transform .2s ease-out;
    -ms-transition: -ms-transform .2s ease-out;
    transition: transform .2s ease-out;
    
    &:hover {
      background-color: #fbfbfb;
      -webkit-transform: scale(1.01);
      -moz-transform: scale(1.01);
      -o-transform: scale(1.01);
      transform: scale(1.01);
    }

    &:active {
      -webkit-transform: scale(2);
      -moz-transform: scale(2);
      -o-transform: scale(2);
      transform: scale(2);
      border-bottom: 1px solid $grey;
    }
  }
  @media only screen and (max-width: 700px) {
    .longName {
      display: none;
    }
    .mobileLongName {
      display: block;
    }
    .priceChangePercentage {
      display: none;
    }
  }
}

.header {
  color: $secondaryTextColor;
  font-family: $fontSecondary;
  text-transform: uppercase;
  align-items: center;

  .icon {
    height: auto;
  }

  .icon, .price {
    cursor: pointer;
  }
}

.header, .loadingItem {
  border-top: 0;
}

.skeleton {
  @extend .react-loading-skeleton;
  background-color: #eeeeee;

  &:after {
    background-image: linear-gradient(90deg, #eeeeee, #e5e5e5, #eeeeee);
  }
}
