@import "../../common/scss/variables";

.toaster {
  position: absolute;
  width: 100%;
  height: 40px;
  text-align: center;
  padding-top: 20px;
  font-size: $mediumFontSize;

  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

.success {
  background-color: #cbe3d8;
  color: #1e513d;
}

.error {
  background-color: #f7d1d5;
  color: #7b1f27;
}

.information {
  background-color: #c8f2fc;
  color: #436d79;
}

.none {
  display: none;
}

// Small fade in / out animation for extra smoothness
@-webkit-keyframes fadein {
  from {
    margin-top: -40px;
    opacity: 0;
  }
  to {
    margin-top: 0;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    margin-top: -40px;
    opacity: 0;
  }
  to {
    margin-top: 0;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    margin-top: 0;
    opacity: 1;
  }
  to {
    margin-top: -40px;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    margin-top: 0;
    opacity: 1;
  }
  to {
    margin-top: -40px;
    opacity: 0;
  }
}